@import url('https://fonts.googleapis.com/css2?family=Ubuntu&display=swap');

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  scroll-behavior: smooth;
  transition: 0.3s;
  overflow-x: hidden;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

body {
    min-height: 100vh;
    padding: 100px !important;
    flex: 1;
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;
}

.container {
    padding: 0 2rem;
    background-color: #191919;
    color: white;
  }

  @media (max-width: 930px) {
    body {
        padding-top: 50px !important;
    }
  }